body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(167, 167, 167),rgb(0, 255, 255));
}

.heading{
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}

.container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 145px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,.due-date-input{
    font-size: 15px;
    padding: 12px 12px 12px 12px;
    border: none;
}

.add-todo-button,.delete-todo-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-todo-button{
    background-color: darkred;
    padding: 10px 0px;
}